{% extends 'base.html.twig' %}

{% block title %} La Carte{% endblock %}

{% block body %}





{% for article in {{('categoryShow', {'id': '1'})}} %}

<p>{{article.title}}</p>
<p>{{article.description}}</p>
 <img src="{{ asset('pictures/articles/' ~ article.picture)}}" alt="{{ article.picture }}">

{% endfor %}

{% endblock %}
