{% extends 'base.html.twig' %}

{% block title %} La Carte{% endblock %}

{% block body %}




{% if ({{category.id}}== 1) %}

{% for article in articles %}
<h2>{{ avis.author }}</h2>
                        <p>{{ avis.object }}</p>
                        <p>{{ avis.content }}</p>
                        <p>{{ avis.createdAt|date('Y-m-d H:i:s')}}</p>
                        

{% endfor %}


{% endif %}
{% endblock %}
