{% extends 'base.html.twig' %}

{% block title %} La Carte{% endblock %}

{% block body %}



{% switch {{category.id}} %}
    {% case '1' %}
        <p>value is "value1"</p>
    {% case '2' %}
        <p>value is "value2"</p>
    {% case '3' %}
    {% case '4' %}
        <p>value is "value3" or "value4"</p>
    {% default %}
        <p>Désolé, nous préparons votre carte</p>
{% endswitch %}

{% if ({{category.id}}== 1) %}

{% for article in articles %}
<h2>{{ avis.author }}</h2>
                        <p>{{ avis.object }}</p>
                        <p>{{ avis.content }}</p>
                        <p>{{ avis.createdAt|date('Y-m-d H:i:s')}}</p>
                        

{% endfor %}


{% endif %}
{% endblock %}
