{% extends 'base.html.twig' %}

{% block title %}Avis/ Suggestion{% endblock %}

{% block body %}
<section>
<div class="space"></div>
<h1>Ecrire un avis/une suggestion</h1>



{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.object) }}
    {{ form_row(form.content) }}
 

   

{{ form_end(form) }}  
</section>      
{% endblock %}