{% extends 'base.html.twig' %}

{% block title %}Avis/ Suggestion{% endblock %}

{% block body %}
<section>
    <div class="space"></div>
        <div class="sectionAvis">
            <div class="containerAvis">
                <div class="titrePage">
                    <h1>Ecrire un avis/une suggestion</h1>
                </div>
                <div class="formAvis"
                    {{ form_start(form) }}
                         {{ form_errors(form) }}
                         <p>{{ form_label(form.object,'Objet')}}</p>
                        <p>{{ form_row(form.object) }}</p>
                        {{ form_label(form.content, 'Avis' )}}
                        <p class="textArea"> {{ form_widget(form.content, { 'label': 'Avis'}) }}</p>
                    {{ form_end(form) }}  
                </div>
            </div>
        </div>
    </section>      
{% endblock %}