{% extends 'base.html.twig' %}

{% block title %}Avis/ Suggestion{% endblock %}

{% block body %}
<section>
    <div class="space"></div>
        <div class="sectionAvis">
            <div class="containerAvis">
                <div class="titrePage">
                    <h1>Ecrire un avis/une suggestion</h1>
                </div>
                <div class="formAvis">
                    {{ form_start(form) }}
                         {{ form_errors(form) }}
                         {{ form_label(form.object,'Objet')}}
                        {{ form_row(form.object) }}
                        {{ form_label(form.content, 'Avis' )}}
                        {{ form_row(form.content) }}
                    {{ form_end(form) }}  
                </div>
            </div>
        </div>
    </div>
    </section>      
{% endblock %}