<header>

	<nav>
		<div id="burger">
			<i class="fas fa-bars"></i> 
			<span>P O L A<span>
			
		</div>
		<ul class="primary">

			<li>
				<div class="logo"></div>
			</li>

			<li>
				<a href="{{path('home')}}">Accueil</a>
			</li>
			<li>
				<a href="{{path('menu')}}">La Carte</a>
				<ul class="secondary">
					<li>
						<a href="{{path('categoryShow', {'id': '1'})}}">Entrées</a>
					</li>
					<li>
						<a href="{{path('categoryShow', {'id': '2'})}}">Plats</a>
					</li>
					<li>
						<a href="{{path('categoryShow', {'id': '3'})}}">Desserts</a>
					</li>
					<li>
						<a href="{{path('categoryShow', {'id': '4'})}}">Cocktails</a>
					</li>
					<li>
						<a href="{{path('categoryShow', {'id': '5'})}}">Vins</a>
					</li>
					<li>
						<a href="{{path('categoryShow', {'id': '6'})}}">Softs</a>
					</li>


				</ul>

			</li>
			<li>
				<a href="{{path('resto')}}">Le Restaurant</a>
			</li>

			<li>
				<a href="{{path('avis')}}">Avis/Suggestion</a>
			</li>
			
			<li>

				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{path('admin')}}">Dashboard Admin</a>
						<a href="{{path('app_logout')}}">Se déconnecter</a>
					{% else %}
						<a href="{{path('profile')}}">Profil de
							{{app.user}}</a>
						<a href="{{path('app_logout')}}">Se déconnecter</a>
					{% endif %}
				{% else %}
					<a href="{{path('app_login')}}">Se connecter</a>
				{% endif %}
			</li>
		</ul>


	</nav>
</header>
