<header>


<ul class="liens">
            <li>
                <a href="{{path('home')}}">Accueil</a>
            </li>
            <li>
                <a href="{{path('category')}}">Carte</a>
            </li>
            <li>
                <a href="{{path('horaires')}}">Horaires</a>
            </li>
            <div>
            <li>
                <a href="{{path('coordonnees')}}">Coordonnées</a>
            </li>
            <li>
                <a href="{{path('avis')}}">Avis/Suggestion</a>
            </li>
            <li>
                <a href="{{path('propos')}}">A Propos</a>
            </li>
            <div>
        </ul>

</header>