<header>


<ul class="liens">
            <li>
                <a href="{{path('home')}}">Accueil</a>
            </li>
            <li>
                <a href="{{path('category')}}">La Carte</a>
                <ul>
                    <li><a href="{{path('categoryShow', {'id': '1'})}}">Entrées</a></li>
                    <li><a href="{{path('categoryShow', {'id': '2'})}}">Plats</a></li>
                    <li><a href="{{path('categoryShow', {'id': '3'})}}">Desserts</a></li>
                </ul>
                
            </li>
            <li>
                <a href="{{path('horaires')}}">Horaires</a>
            </li>
            <div>
            <li>
                <a href="{{path('coordonnees')}}">Coordonnées</a>
            </li>
            <li>
                <a href="{{path('avis')}}">Avis/Suggestion</a>
            </li>
            <li>
                <a href="{{path('propos')}}">A Propos</a>
            </li>
            <div>
        </ul>

</header>