{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ app.user}}
{% endblock %}

{% block body %}
	<section>
		
		<div class="space"></div>
		<div class="titrePage">

			<h1>Profil de
				{{ app.user}}</h1>
		</div>
		<div class="sectionProfil">
			<div class="container">

				<div class="box">
				
					<div class="space20"></div>
					<form method="post">
						<div class="columnCenter">
							<h3><label for="inputEmail">Nom d'utilisateur:
							</label></h3>
							<div class="space20"></div>
							<p>{{ app.user }}</p>
							<div class="space20"></div>
							<h3><label for="inputEmail">Email:</label></h3>
							<div class="space20"></div>
							<p>{{ app.user.email }}</p>
							<div class="space20"></div>
							<p><a href="{{path('app_logout')}}">Déconnexion</a></p>
							<div class="space20"></div>
					
						</div>	
					</form>	
				</div>
			</div>
		</div>

	</section>
{% endblock %}
